#define VERSION_MAJOR 1
#define VERSION_MINOR 6
#define VERSION_BUILD 0
#define VERSION_REVISION 0

#define STRINGIFY(x) #x
#define VERSION_STRING(a,b,c,d) STRINGIFY(a) "." STRINGIFY(b) "." STRINGIFY(c) "." STRINGIFY(d)
#define VERSION_STRING_FULL VERSION_STRING(VERSION_MAJOR,VERSION_MINOR,VERSION_REVISION,VERSION_BUILD)
#define VERSION_STRING1(a,b) STRINGIFY(a) "." STRINGIFY(b)
#define VERSION_STRING_SMALL VERSION_STRING1(VERSION_MAJOR,VERSION_MINOR)
1 VERSIONINFO
FILEVERSION VERSION_MAJOR,VERSION_MINOR,VERSION_REVISION,VERSION_BUILD
PRODUCTVERSION VERSION_MAJOR,VERSION_MINOR
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x4L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040704B0"
    BEGIN
      VALUE "FileDescription", "Aktualisierung von Datenbanken\0"
      VALUE "FileVersion", VERSION_STRING_FULL "\0"
      VALUE "InternalName", "PCMDEVManager.exe\0"
      VALUE "LegalCopyright", "PCM (Jens Henske)\0"
      VALUE "ProductName", "PCMDEVManager 32-Bit\0"
      VALUE "ProductVersion",VERSION_STRING_SMALL "\0"
      VALUE "CompanyName", "PCM\0"
      VALUE "OriginalFilename", "PCMDEVManager.exe (32-Bit)\0"
      VALUE "Comments", "\0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0407,1200
  END
END
